<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS, XML, XHTML">
    <meta name="description" content='This is the test page for test.html'>
    <style>
        p {color:blue;}
    </style>
    <title>This is the test!</title>
    <base href="runoob" target="_blank">
</head>
<body>
    <!-- 这是段落符号p -->
    <p id="title">See <i><b>This</b></i></p>
    <!-- 换行线符号 -->
    <hr/>
    <h1>See This h1</h1>
    <a href="https://www.baidu.com" target="_blank">This is the link for Baidu.</a>
    <a href="runoob" style='background-color:yellow;'>访问runoob页面</a>
    <br/>
    <img decoding="async" src="../statics/images/profile.jpg" width="258" height="258" alt="This is my profile photo"/>

    <table border="1">
        <caption>这是一个表格标题</caption>
        <tr>
            <th> column 1 </th>
            <th> column 2 </th>
        </tr>
        <tr>
            <td> 1 </td>
            <td> 2</td>
        </tr>

        <tr>
            <td> 1 </td>
            <td> 2 </td>
        </tr>
    </table>

    <h2>无序列表</h2>
    <ul>
        <li>哈哈</li>
        <li>哈哈哈</li>
    </ul>

    <h2>有序列表</h2>
    <ol>
        <li>哈哈</li>
        <li>哈哈哈</li>
    </ol>

    <h2>自定义列表</h2>
    <dl>
        <dt>哈哈</dt>
        <dd>-哈哈是两个字的笑</dd>

        <dt>哈哈哈</dt>
        <dd>-哈哈哈是三个字的笑</dd>
    </dl>

</body>
</html>